@font-face {
    src: url("CursedTimerUlil-Aznm.ttf");
    font-family: scorefont;
}

body {
    
    background-color: #1B244A;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.container {
    display: flex ;
    justify-content: space-around;
}
.homeboard {
    display: inline;
    text-align: center;
}
.guestboard {
    display: inline;
    text-align: center;
}

h3 {
    font-size: 50px;
}
h4 { 
    padding: 70px 60px;
    background-color: black;
    font-size: 120px;
    margin-bottom: 50px;  
    width: 155px;
    font-family:fantasy;
    color: #F94F6D;
    border-radius: 10px;
    font-family: scoreFont;
    border: 1px solid whitesmoke;
}

.homebuttons {
    text-align: center;  
    font: bolder;
}

button {
    padding: auto;
    display: inline;
    width: 70px;
    height: 50px;
    font-size: 40px;
    border-color: #9AABD8;
    background: white;
    color: black;
    border-radius: 7px;
    font-family: scoreFont;
    border: 2px solid;
    
    
    }
    
.scorebtns {
    margin-top: -80px;
}

img {
    width: fit-content;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
}

#button2 {
    position: absolute;
    border: 2px solid white;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font: bolder;
    width: 100px;
    text-align: center;
    padding: auto;
    
}

.button22 {
    display: flex;
    margin: 0;
    bottom: 5%;
    left: 45%;
    right: 50%;
    text-align: center;
    
}